body {
	margin: 0px;
	overflow: hidden;
	font-size: 14pt;
	font-family: Helvetica;
	letter-spacing: -1pt;
	color: #4d4d4d;
}

h2 {
	line-height: 70px;
	margin: 0px;
	font-size: 24pt;
	font-weight: bolder;
	font-family: Helvetica;
	letter-spacing: -1pt;
	color: #4d4d4d;
}
h3 {
	line-height: 50px;
	margin: 25px;
	font-size: 48pt;
	font-weight: bolder;
	font-family: Harabara;
	letter-spacing: 1pt;
	color: #e52a20;
}
a:link {
	color: #4d4d4d;
	text-decoration: none;
}

a:visited {
	color: #4d4d4d;
	text-decoration: none;
}

p {
	margin: 0px;
}
@font-face
{
font-family: Harabara;
src: url('Harabara.ttf');
}
.pagediv {
	margin: 0px;
	padding: 0px;
	width: 1366px;
	height: 768px;
	/*position: absolute;*/
}
.close-button {
	position: absolute;
	height:20px;
	right:0px;
	top:0px;
	opacity:1;
	border-color:#ffffff;
	background-color:#ffffff;
}
#welcomepage {
	background-image: url(/img/Labbookbackground.svg);
	background-size: 100%;
	/*left: 0%;*/
}
.logo {
	position: absolute;
	top:15px;
	width: 300px;
	left: 10px;
	height: 75px;
}
.homediv {
	position: absolute;
	top:250px;
	width: 650px;
	left: 700px;
	height: 275px;
	display: block;
}
.icon {
	padding: 20px;
	vertical-align: top;
}
.icon:hover {
  opacity: .8;
}
.svgbutton {
	height: 600px;
	width: auto;
}
.homegraphdiv {
	position: absolute;
	top:125px;
	width: 500px;
	left: 100px;
	height: 600px;
	display: block;
	background-color:rgba(175,175,175,.5);
}
.graphdatadiv {
	position:absolute;
    width: 452px;
	height: 100px;
	margin:20px;
	border-color:rgba(175,175,175,1);
	border:4px solid;
	background-color:rgba(250,250,250,1);
	border-radius:2px;
}
.toprightbardiv {
	position:absolute;
	right: 0px;
	top:15px;
    width: 150px;
	height: 60px;
	margin:15px;
	background-color:rgba(202,131,131,0);
}
.basictablediv {
	position:absolute;
	right: 20px;
	top:150px;
    width: 300px;
	height: 500px;
	margin:15px;
	background-color:rgba(250,250,250,1);
	border-color:rgba(175,175,175,1);
	border:1px solid;
	border-radius:2px;
}
.greyout {
	position:absolute;
	left:0px;
	top:0px;
	width:1366;
	height:720;
	background-color:rgba(75,75,75,.5);

}
.button {
	border:2px solid;
	border-color:#e52a20;
	background:-webkit-linear-gradient(#e52a20,#ce2118);
	border-radius:2px;
	font-size: 12pt;
	font-weight: bolder;
	font-family: Harabara;
	letter-spacing: 0pt;
	color: white;
}
.button:hover {
	border-color:#a31a13;
	box-shadow: 0px 1px 3px #888888;
}
.button:active {
	background:-webkit-linear-gradient(#b31d15,#e22d24,#b31d15);
	border-color:#8a1610;
}
#collectbutton.button {
	position:absolute;
	right: 375px;
	top:150px;
    width: 100px;
	height: 40px;
	margin:15px;

}
#sensorbutton.button {
	position:absolute;
	left: 600px;
	top:630px;
    width: 220px;
	height: 60px;
	margin:15px;
}
/*.homediv:hover {
	background-color:rgba(175,175,175,.5);
}*/

#signinpage {
	background-image: url(/img/Labbookbackground.svg) ;
	/*left:100%;*/
}

#setuppage {
	background-image: url(/img/Labbookbackground.svg);
	/*left:100%;*/
}

#datapage {
	background-image: url(/img/Labbookbackground.svg);
	/*left:100%;*/
}

chart {
  top:150px;
  float:left;
  left:50px;
  position:relative;
  width:800px;
  height:450px;
}